<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/viztag/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/viztag/css/typeahead.js-bootstrap.css" />
    <link rel="stylesheet" href="/viztag/css/viztag.css" />
    <title>viztag</title>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/viztag">viztag</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!--<li class="active"><a href="#">Home</a></li>-->
              <li><a href="/viztag">Home</a></li>
              <li><a href="/viztag/tag">Tag</a></li>
              <li><a href="/viztag/taggings">Taggings</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          <div class="pull-right">
            <ul class="nav">
              <!--<li class="active"><a href="#">Home</a></li>-->
              {% if user %}
              <li><a href="/viztag/logout">log out ({{user.username}})</a></li>
              {% else %}
              <li><a href="/viztag/login">log in</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      {% block flash %}{% if flash is defined %}
      <div class="alert alert-{{flash.type}}">{{flash.msg}}</div>
      {% endif %}{% endblock flash %}

      {% block content %}{% endblock %}

      <div id="footer">
        {% block footer %}
          &copy; 2013 <a href="http://idl.cornell.edu">IDL</a>
        {% endblock %}
      </div>

    </div> <!-- /container -->

    <!-- Le javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/viztag/js/bootstrap.min.js"></script>
    <script src="/viztag/js/viztag.js"></script>

  </body>

</html>
